@model IEnumerable<BankApp.Data.User>
@{
    ViewData["Title"] = "Users";
    var i = 1;
    Layout = "_Layout";
}

<h2>Users</h2>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Given Name</th>
            <th>Sure Name</th>
            <th>Country</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@i</td>
            <td>@item.Givenname</td>
            <td>@item.Surname</td>
            <td>@item.Country</td>
            <th>@item.Age</th>
        </tr>
            i++;
        }

    </tbody>
</table>

